<div class="row">
    <div class="col-md-12">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias, corporis eaque error molestiae odio
            officia, omnis optio quaerat quis quisquam quo quos ratione reiciendis reprehenderit sapiente suscipit
            totam, ullam?</p>
    </div>
</div>